PORT=3000
NODE_ENV=development

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=jobseeker_test

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_RANKING_TTL_SECONDS=60
REDIS_CRITERIA_TTL_SECONDS=300

WEB_ORIGIN=http://localhost:5173,http://localhost:8080
